section#about {
  background-color: #000000;
  padding: 100px 0;
}

h1 {
  font-size: 50px;
  font-family: Montserrat-Bold;
  color: #00b8e4;
}

.text-name-about {
  font-size: 30px;
  font-family: Montserrat-Bold;
  color: white;
  padding-top: 24px;
}

.text-about {
  font-size: 20px;
  font-family: Montserrat-Bold;
  color: white;
}

.contact {
  font-size: 18px;
  font-family: Montserrat-Bold;
  color: white;
  padding-top: 24px;
}

.whatsapp {
  font-size: 18px;
  font-family: Montserrat-Bold;
  color: #39c702 !important;
  margin: 0;
}

.whatsapp:hover{
    text-decoration: none;
}

@media screen and (max-width: 1280px) {
  section#about {
    background-color: #000000;
    padding: 40px 0;
  }

  .text-name-about {
    font-size: 26px;
    font-family: Montserrat-Bold;
    color: white;
    padding-top: 24px;
  }
  
  .text-about {
    font-size: 16px;
    font-family: Montserrat-Bold;
    color: white;
  }

  h1 {
    font-size: 40px;
    font-family: Montserrat-Bold;
    color: #00b8e4;
    text-align: center;
  }
}
