.header {
  background: transparent;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  padding: 15px 0;
  z-index: 999;
}

nav {
  display: flex !important;
  justify-content: flex-end;
}

a {
  display: inline-block;
  padding: 5px 0;
  margin: 0 40px;
  color: white !important;
  transition: 0.5s all;
  font-size: 14px;
  font-family: Montserrat-Bold;
  text-transform: uppercase;
  text-decoration: none;
}

a:hover {
  text-decoration: none;
  color: black;
}
