.header {
  background: transparent;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  padding: 20px 0;
  z-index: 999;
}

nav {
  display: flex !important;
  justify-content: flex-end;
  padding-top: 6px;
}

a {
  display: inline-block;
  padding: 5px 0;
  margin: 0 37px;
  color: white !important;
  transition: 0.5s all;
  font-size: 14px;
  font-family: Montserrat-Bold;
  text-transform: uppercase;
  text-decoration: none;
}

a:hover {
  text-decoration: none !important;
  color: #00b8e4 !important;
}

.active-header {
  background-color: black;
  transition: 0.5s all;
}

.logo-white {
  width: 150px;
}

.logo {
  margin: 0;
}
.eEcvWu {
  padding: 10px 0 0 0 !important;
  float: right !important;
}

.bm-cross-button {
  height: 24px;
  width: 24px;
  @media screen and (min-width: 1280px) {
    display: none;
  }
}

@media screen and (max-width: 1280px) {
  nav {
    display: none !important;
    flex-direction: column;
    text-align: center;
  }

  a.menu {
    padding: 20px 0;
    background-color: black !important;
    margin: 0;
    transition: 0.5s all;
  }

  .active-menu {
    display: flex !important;
    transition: 0.5s all;
  }
}
