section#home {
  width: 100%;
  height: 100vh;
  background-image: url(../../images/bg-home.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  filter: grayscale(0.8);
  display: flex;
  justify-content: center;
  align-items: center;
}

.text-fix-typed {
  font-size: 50px;
  font-family: Montserrat-Bold;
  color: white;
  padding-right: 14px;
}

span {
  font-size: 50px;
  font-family: Montserrat-Bold;
  color: white;
}

@media screen and (max-width: 1280px) {
  .text-fix-typed {
    font-size: 28px;
    font-family: Montserrat-Bold;
    color: white;
    padding-right: 14px;
  }
  span {
    font-size: 28px;
    font-family: Montserrat-Bold;
    color: white;
  }
}
